
fastapi
uvicorn[standard]
requests
pydantic-settings
google-generativeai
google-auth
jinja2
redis
cloud-sql-python-connector[pg8000]
cloud-sql-python-connector[pymysql]
sqlalchemy
python-dotenv
psycopg2-binary